<div>
    <section class="produtos">

        @for (produto of produtos; track produto.id) {
        <div class="card">
            <img [src]="produto.imgs[0]" alt="Moto">
            <h3>{{ produto.nome }}</h3>
            <h3>{{ produto.preco }}</h3>
            <h3>{{ produto.descricao }}</h3>
            <h3>{{ produto.estoque }}</h3>

            <button (click)="adicionarAoCarrinho(produto)">
                Comprar
            </button>
        </div>
        }

    </section>

    <!-- <section class="carrinho">

        @for (item of carrinho(); track item.id) {

        <div class="card-carrinho">

            <div class="info">
                <h3>{{ item.nome }}</h3>
                <h3>{{ item.preco }}</h3>
                <img [src]="item.imgs" alt="Moto">
                <h3>{{ item.descricao }}</h3>
                <h3>{{ item.estoque }}</h3>
            </div>

            <div class="quantidade">
                <button >-</button>
                <span>{{ item.quantidade }}</span>
                <button >+</button>
            </div>

        </div>

        }

        <button class="finalizar">
            Finalizar Compra
        </button>

    </section> -->
</div>