body{
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.banner{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
}

.banner h1{
    text-align: center;
    font-size: 55px;
    font-weight: bold;

    line-height: 1.1;
}

.banner h1 span{
    display: block;
    color: gray;
}

.categorias{
    margin-top: 20px;

    background: white;

    padding: 10px 20px;

    border-radius: 50px;

    display: flex;
    gap: 15px;
}

.categorias button{
    border: none;
    background: transparent;

    padding: 12px 25px;

    border-radius: 30px;

    font-weight: bold;
    cursor: pointer;
}

.categorias .ativo{
    background: #09093f;
    color: white;
}

.conteudo{
    width: 100%;
    max-width: 1200px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.conteudo h2{
    position: absolute;

    top: 350px;

    font-size: 120px;
    font-weight: 900;

    color: rgba(117, 117, 117, 0.349);

    z-index: 2;
}

.conteudo img{
    width: 500px;
     ;
    position: relative;
    z-index: 1;
}

.info{
    text-align: center;
    margin-top: 20px;
}

.info h3{
    font-size: 40px;
    margin-bottom: 10px;
}

.info p{
    width: 600px;

    color: rgb(68, 68, 68);
    font-size: 20px;
}

.info h4{
    color: rgb(160, 0, 0);
    font-size: 35px;
    margin: 10px 0;
}

.info span{
    color: rgb(41, 41, 41);
    font-size: 20px;
}

.btn{
    display: block;

    margin: 20px auto;

    border: none;

    background: rgb(160, 0, 0);
    color: white;

    padding: 15px 40px;

    border-radius: 30px;

    font-size: 18px;
    cursor: pointer;
}


